appdirs==1.4.4
autocommand==2.2.2
beautifulsoup4==4.11.1
btrfsutil==6.0.1
ceph==1.0.0
ceph-volume==1.0.0
cephfs==2.0.0
cephfs-shell==0.0.1
chardet==5.0.0
cupshelpers==1.0
Cython==0.29.32
distro==1.8.0
gpg==1.18.0
gps==3.24
idna==3.4
inflect==6.0.2
jaraco.context==4.1.2
jaraco.functools==3.5.2
jaraco.text==3.11.0
lensfun==0.3.3
louis==3.23.0
mercurial==6.3.1
more-itertools==9.0.0
netsnmp-python==1.0a1
nftables==0.1
nspektr==0.4.0
ordered-set==4.1.0
packaging==21.3
Pillow==9.3.0
ply==3.11
pwquality==1.4.5
pycairo==1.22.0
pycups==2.0.1
pycurl==7.45.1
pydantic==1.10.2
PyGObject==3.42.2
pyparsing==3.0.9
PyQt5==5.15.7
PyQt5-sip==12.11.0
pysmbc==1.0.23
PySocks==1.7.1
python-prctl==1.8.1
rados==2.0.0
rbd==2.0.0
Reflector==2021.11.20.2.41.3
reportlab==3.6.12
requests==2.28.1
rgw==2.0.0
soupsieve==2.3.2.post1
team==1.0
tomli==2.0.1
torbrowser-launcher==0.3.5
trove-classifiers==2022.10.19
typing_extensions==4.4.0
urllib3==1.26.12
validate-pyproject==0.10.1
